.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

application.properties
gradle.properties
/longevity/src/main/resources/application.properties
/longevity/src/main/resources/application.yml
/longevity/src/main/resources/pages


/logs/
velocity.log

.DS_Store
/data/

log4j2.xml
/bin/
/integration/
/esb/build
/esb/logs
/esb/out
/common/build
/common/out
/longevity/build
/longevity/out
/longevity/logs/
/longevity/src/main/resources/sentry.properties
/export
/tmp
*.hprof
